<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="template_files/style.css">
    <title>#title</title>
</head>
<body style="background-image:url('template_files/back.jpg');background-attachment:fixed;">
    <table align="center" cellspacing="5" class="border" style="background-color:#FFFFFF;">
        <tr><td>
            <table width="980px" align="center" cellpadding="0">
                <tr><td height="150px" align="center"><img src="template_files/Logo.jpg" border="0" alt="Logo"></td></tr>
            </table>
            <table align="center" width="980px" cellpadding="2" cellspacing="0">
                <tr><td width="150px" valign="top" style="border-top:1px solid #007700;">
                    #menu<br>#poll<br><br><center>#search(<a href="index.php?item=78">Hilfe</a>)<br>#user_panel<br><br></center>#counter</td>
                    <td width="820px" valign="top" style="border-top:1px solid #007700;border-left:1px solid #007700;">#content
                    </td></tr>
                    <tr><td></td><td style="border-left:1px solid #007700;">
                        Sie sind hier: #position_row</td>
                    </tr>
                    <tr><td height="20px" colspan="2" class="pms_footer border" bgcolor="#007700">
                        #footer
                    </td></tr>
                </table>
            </td></tr>
        </table>
    </body>
    </html>